<div class="" style="background-color:#303030;padding-top: 2rem;">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col" style="padding-left: 5rem;">
                    <img src="LOGO-FINAL.png" width="20%" style="margin-right: 1rem;">
                    <p class="text-light">
                        
                        ventas&#64;digimat.com.ar 

                    <br>
                        AV LA VOZ DEL INTERIOR 6161 (5008), Córdoba - Argentina 
                    <br>
                        <!-- <i class="fab fa-facebook-f" style="padding-right: 1rem;"></i>
                        <i class="fab fa-instagram" style="padding-right: 1rem;"></i>
                        <i class="fab fa-linkedin-in"></i> -->
                        <img src="/icons/fb-white.svg" height="30px" style="margin-right: 10px;margin-top: 1%;">
                        <img src="/icons/ig-white.svg" height="30px" style="margin-right: 10px;margin-left: 1%;margin-top: 1%;">
                        <img src="/icons/ln-white.svg" height="30px" style="margin-left: 1%;margin-top: 1%;">
                    </p>
                        <p class="text-light"></p>
                </div>
                
                
            </div>
        </div>
        <!-- <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label class="text-light">RECIBI NUESTRAS NOVEDADES</label>
                    <div class="input-group" style="max-width: 400px;">
                        <input class="form-control" type="text" placeholder="E-mail" style="padding-right: 1rem;">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary">Suscribirme</button>
                        </div>
                    </div>
                </div>
            </form>
        </div> -->
        
    </div>
</div>
<footer class="footer">
    <img class="img-fluid" src="web_digi.png" width="500px" alt="">
</footer>