<div class="" style="background-color:#303030;padding-top: 2rem;">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col" style="padding-left: 5rem;">
                    <img src="Logo_final.png" style="width: 30%;">
                    <p class="text-light">
                        
                        ventasdigimat.com.ar 

                    <br>
                        Direccion XXXX, Cordoba - Argentina
                    <br>
                        <i class="fab fa-facebook-f" style="padding-right: 1rem;"></i>
                        <i class="fab fa-instagram" style="padding-right: 1rem;"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </p>
                        <p class="text-light"></p>
                </div>
                
                
            </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label class="text-light">RECIBI NUESTRAS NOVEDADES</label>
                    <div class="input-group" style="max-width: 400px;">
                        <input class="form-control" type="text" placeholder="E-mail" style="padding-right: 1rem;">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary">Suscribirme</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>
<footer class="footer">
    <img class="img-fluid" src="web_digi.png" width="500px" alt="">
</footer>