<a href="#tienda"><img class="img-fluid banner" src="BANNER.png" alt=""></a>
<div class="container-fluid" style="margin-top: 25px;" id="nosotros">
    <div class="row justify-content-center">
        <h2 class="heading--h1">Nuestra Empresa</h2>
    </div>
    <div class="row">
        <img class="img-fluid" src="Quienes_somos.png" alt="">
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <h3 class="h3--heading">
            DISTRIBUDORES OFICIALES DE LAS MEJORES MARCAS
        </h3>
    </div>
    <div class="row justify-content-center" style="margin-top: 17px;">
        <img class="img-fluid" width="80%" src="MARCAS.png" alt="">
    </div>
</div>


<div class="container-sm gradient" style="padding-top: 3rem;">
    <div class="header--centrar">
        <h2 class="justify-content-center mas--vendido">LO MÁS VENDIDOS</h2>
    </div>
    <div class="row justify-content-center conta">
        <div class="col col-lg-3 ">
            <div class="card border-0">
                <div class="prueba" style="background-color: rgb(204, 204, 204)">
                    <img src="producto.png" class="text-center img-fluid">
                </div>
                <div class="card-body cont">
                    <div class="text-center text-black card-item">
                        PERFIL PGO GALVANIZADO
                    </div>
                    <h3 class="text-center">$8.820,22</h3>
                </div>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="card border-0">
                <div class="prueba" style="background-color: rgb(204, 204, 204);">
                    <img src="producto.png" class="img-fluid" >
                </div>
                <div class="card-body cont">
                    <div class="text-center text-black card-item" >
                        PERFIL PGO GALVANIZADO
                    </div>
                    <h3 class="text-center">$8.820,22</h3>
                </div>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="card border-0">
                <div class="prueba" style="background-color: rgb(204, 204, 204);">
                    <img src="producto.png" class="img-fluid">
                </div>
                <div class="card-body border-0 cont">
                    <div class="text-center text-black card-item">
                        PERFIL PGO GALVANIZADO
                    </div>
                    <h3 class="text-center">$8.820,22</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="tienda">
    <div class="header--centrar">
        <h2 class="text-center text-uppercase mt-4" style="background-color: rgb(253, 202, 13); padding: 1rem; width: fit-content;">Nuestros Productos</h2>
    </div>
    <div class="row justify-content-center">
        <!-- Sidebar --> 
        <select class="form-select" size="6" aria-label="size 3 select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="justify-content-center conta">
            <button class="btn btn-secondary me-2 flecha"><</button>
          </div>
        <div class="col-md-9 conta">
            
            <div class="d-flex justify-content-center align-items-center conta" style="background-color: #e9ecef;">
                <div class="d-flex">
                    <div class="product">
                        <img src="https://via.placeholder.com/250" alt="Producto 1">
                        <div class="product-title">Cal Hidratada El Filo</div>
                        <div class="product-price">$4297.24</div>
                    </div>
                    <div class="product">
                        <img src="https://via.placeholder.com/250" alt="Producto 2">
                        <div class="product-title">Estribo 15 x 15 - 4.2 MM - 50 UN</div>
                        <div class="product-price">$11902.16</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--FORMULARIO -->
<div class="container" style="padding-bottom: 2rem;padding-top: 2rem;" id="contacto">
    <div class="header--centrar">
        <h1 class="contacto text-center">CONTACTO</h1>
    </div>
    <form>
        <div class="form-row">
          <div class="col">
            <label>Nombre y apellido</label>
            <input type="text" class="form-control" style="background-color:#e6e6e6;">
          </div>
          <div class="col">
            <label>Correo electronico</label>
            <input type="text" class="form-control" style="background-color: #e6e6e6;">
          </div>
          
        </div>
        <div class="form-row">
            <div class="col">
              <label>Empresa</label>
              <input type="text" class="form-control" style="background-color:#e6e6e6;">
            </div>
            <div class="col">
              <label>Telefono</label>
              <input type="text" class="form-control" style="background-color:#e6e6e6;">
            </div>
            
        </div>
        <div class="form-row">
          <label>Mensaje</label>
          <textarea class="form-control" aria-label="With textarea" style="background-color:#e6e6e6;"></textarea>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Quiero recibir novedades y promociones por mail
            </label>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-secondary text-light" style="vertical-align: -100%;">Enviar</button>
        </div>

    </form>
</div>
